*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/luna-sdk_droid_rel_test/
app/luna-sdk_droid_rel_v.3.10.0/
app/luna-sdk_droid_dbg/
app/src/main/assets/
